html, body {
	height: 100vh;
	width: 100%;
	display: flex;
	background-color: black;
	font-family: font151473;
}

.main-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.side-bar {
	height: (100vh - 6px);
	width: 250px;
	border-top: 3px solid #FAF39A;
	border-right: 1px solid #FAF39A;
	border-bottom: 3px solid #FAF39A;
	display: flex;
	flex-direction: column;
}

.one {
	height: 100vh;
	width: 2px;
	background-color: #83C675;
}

.two {
	height: 100%;
	width: 1px;
	background-color: #33C5F3;
}

.three {
	height: 100%;
	width: 2px;
	background-color: #7956A3;
}

.four {
	height: 100%;
	width: 1px;
	background-color: #F16667;
}

.search-field-container {
	height: 100px;
	width: 100%;
	margin-top: 5px;
}

.text-field {
	padding: 3px;
	margin: 10px 8px 0 13px;
	border: 0;
	background-color: #878685;
	color: white;
	text-align: center;
	font-family: font151473;
}

.text-field:focus {
	border: none;
	outline: none;
}

.btn {
	width: 80px;
	padding: 3.5px 0;
	margin-top: 10px;
	border: 0;
	background-color: #878685;
	color: white;
	font-family: font151473;
}

.search-btn:nth-of-type(5n+0) {
	border: 1px solid #FAF39A;
}

.search-btn:nth-of-type(5n+1) {
	border: 1px solid #83C675;
}

.search-btn:nth-of-type(5n+2) {
	border: 1px solid #33C5F3;
}

.search-btn:nth-of-type(5n+3) {
	border: 1px solid #7956A3;
}

.search-btn:nth-of-type(5n+4) {
	border: 1px solid #F16667;
}

.btn:active {
	transform: translateX(1px) translateY(1px);
}

.btn:focus {
	border: none;
	outline: none;
}

.btn-container {
	height: calc(100vh - 6px);
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-flow: column;
	align-content: stretch;
	flex-wrap: wrap;
}

.gif-display-wrapper {
	height: (100vh - 6px);
	border-top: 3px solid #F16667;
	border-bottom: 3px solid #F16667;
	flex-grow: 1;
}