html, body {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-grow: 1;
	background-color: black;
	font-family: font151473;
}

.main-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.side-bar {
	width: 250px;
	border-top: 3px solid #FAF39A;
	border-right: 1px solid #FAF39A;
	border-bottom: 3px solid #FAF39A;
	display: flex;
	flex-direction: column;
}

.one {
	min-width: 2px;
	background-color: #83C675;
}

.two {
	min-width: 1px;
	background-color: #33C5F3;
}

.three {
	min-width: 2px;
	background-color: #7956A3;
}

.four {
	min-width: 1px;
	background-color: #F16667;
}

.search-field-container {
	height: 100px;
	width: 100%;
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.search-instructions {
	width: 200px;
	font-family: font151473;
	color: white;
	font-size: 0.8em;
	text-align: center;
}

.text-field {
	padding: 3px;
	margin: 10px 8px 0 13px;
	border: 0;
	background-color: #878685;
	color: white;
	text-align: center;
	font-family: font151473;
}

.text-field:focus {
	border: none;
	outline: none;
}

.btn {
	width: 80px;
	padding: 3.5px 0;
	border: 0;
	background-color: #878685;
	color: white;
	font-family: font151473;
}

.search-btn {
	margin: 2px 1px;
}

.search-btn:nth-of-type(5n+0) {
	border: 1px solid #FAF39A;
}

.search-btn:nth-of-type(5n+1) {
	border: 1px solid #83C675;
}

.search-btn:nth-of-type(5n+2) {
	border: 1px solid #33C5F3;
}

.search-btn:nth-of-type(5n+3) {
	border: 1px solid #7956A3;
}

.search-btn:nth-of-type(5n+4) {
	border: 1px solid #F16667;
}

.btn:active {
	transform: translateX(1px) translateY(1px);
}

.btn:focus {
	border: none;
	outline: none;
}

.btn-container {
	height: 700px;
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-flow: column;
	align-content: stretch;
	flex-wrap: wrap;
}

.gif-display-wrapper {
	border-top: 3px solid #F16667;
	border-bottom: 3px solid #F16667;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.gif-display {
	width: 100%;
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	align-content: flex-start;
	flex-wrap: wrap;
}

.gif-wrapper {
	min-height: 200px;
	width: 250px;
	margin: 10px;
}

.gif {
	margin: 20px;
}

.rating {
	color: white;
	font-family: font151473;
	text-align: center;
	font-size: 0.5em;
	margin-bottom: 5px;
}

.gif-wrapper:nth-of-type(5n+0) {
	border: 1px solid #FAF39A;
}

.gif-wrapper:nth-of-type(5n+1) {
	border: 1px solid #83C675;
}

.gif-wrapper:nth-of-type(5n+2) {
	border: 1px solid #33C5F3;
}

.gif-wrapper:nth-of-type(5n+3) {
	border: 1px solid #7956A3;
}

.gif-wrapper:nth-of-type(5n+4) {
	border: 1px solid #F16667;
}

.quasi-footer {
	width: 100%;
	margin: 10px 0;
	text-align: center;
	font-family: font151473;
	font-size: 0.7em;
	color: white;
	align-self: flex-end;
}